<main>
        <h1>Index</h1>
        <% if (user) { %>
            <h2><%= user.name %></h2>
            <br/>
            <br/>
              <a href="/auth/logout">Log out</a>
          <% } else { %>
            <a href="/signup">Đăng ký tài khoản Local</a> 
            <br>
            <a href="/login">Đăng nhập bằng tài khoản Local hoặc đăng nhập qua social accounts</a>
            <% } %>
          
  
  
  </main>