<main>
        <h1>Login</h1>
      <a href="/local">Login with Local</a>
      <br>
      <a href="/auth/facebook">Login with facebook</a>
      <br>
      <a href="/auth/google">Login with google</a>

  
  </main>